<script>
  tinymce.init({
    selector: 'textarea',
    menubar: false
  });
  </script>
<%= form_for [:backend,@comment] do |f| %>
<p>
  <%= f.label :Body %>
  <br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.label :Articles %>
  <br>
  <%= f.collection_select :article_id ,Article.all, :id , :title %>
</p>

<p><%= f.submit %></p>
  <% end -%>
