<div id="session-new">
  <div class="container">
    <h1>Login</h1>
    <%= form_for @session, url: backend_sessions_path do |f| %>
      <p>
        <%= f.label :Account %>
        <br>
        <%= f.text_field :name_user %>
      </p>
      <p>
        <%= f.label :Password %>
        <br>
        <%= f.text_field :password %>
      </p>
      <p>
        <%= f.submit "Login"  %>
      </p>
      <% end -%>
  </div>
</div>
