<!--
<h1>Comments</h1>
<table class="table">
  <tr class = "title">
    <td>STT</td>
    <td>Body</td>
    <td>Title_Artice</td>
    <td>Name_user</td>
    <td>Approve</td>
    <td colspan ="3"></td>
  </tr>
  <% @comments.each do |f| %>
    <td><%= f.id %></td>
    <td><%= strip_tags(f.body.truncate(30)) %></td>
    <td><%= f.article.title %></td>
    <td><%= f.user.name_user %></td>
   <% if (f.approve == nil ) %>
    <td><%= check_box_tag "approve", nil ,false %>sd</td>
    <% elsif (f.approve == false) %>
    <td><%= check_box_tag "approve", false ,false %></td>
    <% else %>
    <td><%= check_box_tag "approve", true ,true %></td>
    <% end -%>
    <td><%= link_to "Show",comment_path(f) %></td>
    <td><%= link_to "Update",edit_comment_path(f) %></td>
    <td><%= link_to "Destroy",comment_path(f),method: :delete,data:{confirm: "Are you sure?"} %></td>
    <% if (f.approve == nil ) %>
    <td>( do not see)</td>
    <% elsif (f.approve == false) %>
    <td>( do not agree)</td>
    <% else %>
    <td>(agree)</td>
    <% end -%>
  </tr>
  <% end -%>
</table>
<%= link_to "New comment",new_comment_path %>
-->
 <%= datagrid_form_for @grid, :method => :get, :url => comments_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>   
