<body style="background:#F7F7F7;font-size:14px;color:#73879C;">
  <div class="">
    <div id="wrapper">
      <div style="text-align:center">
        <p class="notice" style="color:red"><%= notice %></p>
        <p class="alert" style="color:red"><%= alert %></p>
      </div>
      <div id="login" class=" form">
        <section class="login_content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h1 style="font-size:26px">Login Form</h1>
            <div class="field">
              <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Email" %>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "off" , class: "form-control" , placeholder: "password" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field" style="width:60%; float:right">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in" , class: "btn btn-default submit"%>
            </div>
          <% end %>
        </section>
        <div class="clearfix"></div>
          <div class="separator">
            <p class="change_link">New to site?
              <a href="<%= new_user_registration_path %>" class="to_register"> Create Account </a>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

              <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
      </div>
    </div>
  </div>
</body>
