:javascript
  tinymce.init({
    selector: 'textarea',
    menubar: false
  });
%h1 New Article!!!
= form_for @article,url: backend_articles_path do |f|
  %p
    = f.label :Title
    %br/
    = f.text_field :title
  %p
    = f.label :Description
    %br/
    = f.text_area  :description
  %p
    = f.label :Details
    %br/
    = f.text_area  :details
  %p
    = f.label :Linkdownload
    %br/
    = f.text_field :linkdownload
  %p
    = f.label :Weight
    %br/
    = f.text_field :weight
  %p
    = f.label :Image
    %br/
    = f.file_field :avatar
  %p
    - @categories.each do |c|
      %p
        = check_box_tag "category_id[]", c.id
        = c.name_category
  %p
    = f.submit
= link_to 'Back', backend_articles_path
