#backend-show-article{:style => "min-height:450px"}
  %p
    %strong Title:
    = @article.title
  %p
    %strong Details:
    = @article.details.truncate(50)
  %p
    %strong Description:
    = @article.description.truncate(50) 
  %p
    %strong Author:
    = @article.user.name_user  
  %p
    %strong Image:
    = image_tag @article.avatar.url(:thumb)  
  %p
    %strong Viewer:
    = @article.viewer
  %p  
    %strong Link_download:
    = @article.linkdownload 
  %p
    %strong Weight:
    = @article.weight
  %p
    %strong Created_at:
    = @article.created_at 
  %p
    %strong Updated_at:
    = @article.updated_at   
