<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="col-sm-9 col-xs-9">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home" , root_path %></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
          <ul class="dropdown-menu">
           <% @categories .each do |f| %>
            <li><%= link_to f.name_category,category_path(f) %></li>
           <% end -%>
          </ul>
        </li>  
    </ul>
    <div class="current-user" style="color: white;padding:15px 0px 0px 20px;text-align:center;">
      <% if current_user %>
        hello,<strong><%= link_to current_user.name_user, backends_path , style: "color:blue;text-decoration:underline" %></strong>,
        <%= link_to "Logout", session_path(current_user) , method: :delete %>
      <% end -%>
    </div>
  </div>
  <div class = "col-sm-3 col-xs-3">
  <div class="toggle-search"><i class="fa fa-search fa-2x"></i></div>
    <div class="form-search">
      <%= form_tag root_path, method: "get" do %>
         <i class="fa fa-search "></i>
        <%= text_field_tag :search , params[:search], :placeholder => "To search type and hit enter", autofocus: true %>
     <% end %>
   </div>
 </div>
</nav>
