 <div class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"  >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="hidden-sm hidden-md hidden-lg search">
              <% if current_user %>
                hello,<strong><%=link_to current_user.name_user,backend_backends_path,style: "color:blue;text-decoration:underline" %></strong>,
                <%= link_to "Logout", backend_session_path(current_user) , method: :delete %>
              <% end -%>
            <div class="toggle-search" style="float:left;margin-left:10px;padding-bottom:5px;"><i class="fa fa-search fa-2x"></i></div>
            <div class="form-search ">
              <%= form_tag root_path, method: "get" do %>
                 <i class="fa fa-search "></i>
                <%= text_field_tag :search , params[:search], :placeholder => "To search type and hit enter", autofocus: true %>
             <% end %>
           </div>
          </div>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home" , root_path %></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
                <ul class="dropdown-menu">
                 <% @categories .each do |f| %>
                  <li><%= link_to f.name_category,frontend_category_path(f) %></li>
                 <% end -%>
                </ul>
              </li>  
          </ul>
          <div style="margin-bottom:-30px;padding-top:15px;text-align:center;color:white" class="hidden-xs">
            <% if current_user %>
              hello,<strong><%=link_to current_user.name_user,backend_backends_path,style: "color:blue;text-decoration:underline" %></strong>,
              <%= link_to "Logout", backend_session_path(current_user) , method: :delete %>
            <% end -%>
          </div>
          <div class="hidden-xs search">
           <div class="toggle-search"><i class="fa fa-search fa-2x"></i></div>
            <div class="form-search">
              <%= form_tag root_path, method: "get" do %>
                 <i class="fa fa-search "></i>
                <%= text_field_tag :search , params[:search], :placeholder => "To search type and hit enter", autofocus: true %>
             <% end %>
           </div>
          </div>
        </div><!--/.nav-collapse -->
      </div>
  </div>
