.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .hidden-sm.hidden-md.hidden-lg.search
        - if current_user
          hello,
          %strong>= link_to current_user.name_user,backends_path,style: "color:blue;text-decoration:underline"
          ,
          \#{link_to "Logout", destroy_user_session_path , method: :delete}
        .toggle-search{:style => "float:left;margin-left:10px;padding-bottom:5px;"}
          %i.fa.fa-search.fa-2x
        .form-search
          = form_tag root_path, method: "get" do
            %i.fa.fa-search
            = text_field_tag :search , params[:search], :placeholder => "To search type and hit enter", autofocus: true
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Home" , root_path
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Category
            %b.caret
          %ul.dropdown-menu
            - @categories .each do |f|
              %li= link_to f.name_category,category_path(f)
      .hidden-xs.large_search{:style => "float:left;padding-left: 5%;width:50%;margin-top:10px"}
        #the-basics.form-large-search{:style => "position:relative"}
          = form_tag root_path, method: "get" do
            %button{:style => "  font-size: 20px;height: 36px; left: 0; position: absolute; top: 0; width: 30px;z-index: 999;", :type => "submit"}
              %i.fa.fa-search
            = text_field_tag :search , params[:search], :placeholder => "To search type and hit enter",style: "width:95%;padding:2px 35px;height:35px;border-radius:5px 0 0 5px",class: "typeahead"
      .hidden-xs.group-btn-large-screen{:style => "width:27%;float:right;margin-top:10px"}
        - if current_user.blank?
          .btn-sign-in-large-scrren{:style => "float:right;padding-right:20px"}
            %a{:href => new_user_session_path}
              %button.btn.btn-primary{:type => "button"} Sign In
          .btn-sign-up-large-scrren{:style => "float:right;padding-right:20px"}
            %a{:href => new_user_registration_path}
              %button.btn.btn-default{:type => "button"} Sign Up
        - else
          .after-login-frontend{:style => "float:right;padding-right:20px;position:relative"}
            %a#toogle-user-info{:style => "cursor:pointer"}
              - if current_user.image == nil
                %img{:alt => "", :src => "/assets/backend-images/img.jpg", :style => "width:40px;height:35px"}/
              - else
                %img{:alt => "", :src => "#{current_user.image}", :style => "width:40px;height:35px"}/
            .toogle-user-info{:style => "background: #82ABD4 none repeat scroll 0 0;display: block;line-height: 30px;padding: 5px 0 0 0px;position: absolute;right: 5px;top: 47px;width: 175px;display:none;border-radius: 0 0 0 5px;"}
              %p{:style => "width: 0;position:relative;right: -130px;top: -25px;height: 0;border-style: solid;border-width: 0 6px 10.4px 6px;border-color: transparent transparent #82ABD4 transparent;line-height: 0px;_border-color: #000000 #000000 #007bff #000000;_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');"}
              %ul{:style => "margin-top:-30px"}
                %a{:href => backends_path}
                  %li Infomation
                %a{:href => "#{backend_user_path(current_user.id)}"}
                  %li profile
                %a{"data-method" => "delete", :href => destroy_user_session_path}
                  %li Log out
          %div{:style => "float:right;padding-right:20px"}
            %a{:href => new_backend_article_path}
              %button.btn.btn-default{:type => "button"} Post Article
    / /.nav-collapse
