<div  class="sidebar-left visible-sm hidden-xs hidden-md hidden-lg col-sm-1" >
  <div class="sidebar-left-toggle-right" style="display:none">
    <div style="position: relative;width: 250px;left: -180px;background:#F0F0F0" id="sidebar-left-visible">
        <div id="sidebar-left-toggle-right" class="top-sidebar-left" style="text-align:center">
          <p style="height:30px;margin-left: -10px;margin-top: 0px;"><strong><i class="fa fa-angle-double-right fa-3x" aria-hidden="true"></i></strong></p>
        </div>
        <div class="mid-sidebar-left" style="padding-left:20px">
          <h4>CATEGORY</h4>
          <% @categories.each do |f| %>
          <div class="category-mid-sidebar-left">
            <a href="<%= frontend_category_path(f)%>"><span  class="glyphicon glyphicon-folder-open"></span> <%= f.name_category %></a>
          </div>
          <% end -%>
        </div>
        <div class="border-sidebar-left" style="height:1240px">
      
        </div>
    </div>
   </div> 
    <div class="sidebar-left-toggle-left">
        <div id="sidebar-left-toggle-left" class="row top-sidebar-left">
          <p style="height:30px;margin-left: -10px;margin-top: 0px;"><i class="fa fa-angle-double-left fa-3x" aria-hidden="true"> </i></p>
        </div>
         <div class="border-sidebar-left" style="height:1450px">
          
         </div>
     </div>
  </div> 
  <div id="sidebar-left-large-device" class="col-sm-1 sidebar-left hidden-xs col-md-2 hidden-sm">
    <div class="row top-sidebar-left">
      <p><strong>MORE</strong></p>
    </div>
    <div class="mid-sidebar-left  ">
      <h4>CATEGORY</h4>
      <% @categories.each do |f| %>
      <div class="category-mid-sidebar-left">
        <a href="<%= frontend_category_path(f)%>"><span  class="glyphicon glyphicon-folder-open"></span> <%= f.name_category %></a>
      </div>
      <% end -%>
    </div>
</div>
<!--- from 990 to 1200 -->
<div id="sidebar-left-medium-device"  class="sidebar-left sidebar-left hidden-xs col-md-1 hidden-sm" >
  <div class="sidebar-left-toggle-right1" style="display:none;position:relative">
    <div style="position: relative;width: 250px;left: -165px;background:#F0F0F0" id="sidebar-left-visible">
        <div id="sidebar-left-toggle-right1" class="top-sidebar-left" style="text-align:center">
          <p style="height:30px;margin-left: -10px;margin-top: 0px;"><strong><i class="fa fa-angle-double-right fa-3x" aria-hidden="true"></i></strong></p>
        </div>
        <div class="mid-sidebar-left" style="padding-left:20px">
          <h4>CATEGORY</h4>
          <% @categories.each do |f| %>
          <div class="category-mid-sidebar-left">
            <a href="<%= frontend_category_path(f)%>"><span  class="glyphicon glyphicon-folder-open"></span> <%= f.name_category %></a>
          </div>
          <% end -%>
        </div>
        <div class="border-sidebar-left" style="height:1345px">
      
        </div>
    </div>
   </div> 
    <div class="sidebar-left-toggle-left1" style="display:block">
        <div id="sidebar-left-toggle-left1" class="row top-sidebar-left">
          <p style="height:30px;margin-top: 0px;"><i class="fa fa-angle-double-left fa-3x" aria-hidden="true"> </i></p>
        </div>
         <div class="border-sidebar-left">
          
         </div>
     </div>
  </div> 
<!--- End from 990 to 1200 -->
