.row.top-content-left
  %p
    %strong Wow! eBook
    The best eBook site ever!
%p.introduce
  Good news! Our friend site will continue updating latest books at
  = succeed "." do
    %a{:href => "https://www.google.com/search?q=1bookcase.com&ie=utf-8&oe=utf-8"} https://1bookcase.com/
- if @articles.present?
  - @articles.each do |article|
    .row.article
      .col-sm-4.col-xs-3.left-article
        %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :href => "#{article_path(article)}", :title => "#{article.title}"}= image_tag article.avatar.url(:medium)
        %a.comment{:href => "#{article_path(article)}#currentComment"}
          %i.fa.fa-comments-o
          = article.comments.count
      .col-sm-8.col-xs-9.right-article
        .head-right-article
          %ul.list-inline
            - if article.categories.size > 0
              - article.categories.each do |f|
                %li= link_to f.name_category  , category_path(f)
            - else
              - article.tags.each do |f|
                %li= link_to f.name_tag  , tag_path(f)    
            %li
              Viewer: #{article.viewer}
            %span= article.created_at.strftime("%v")
        .body-right-article
          %h3
            %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :href => "#{article_path(article)}", :title => "#{article.title}"}= article.title
          .content-body-right-article= simple_format(article.description)
  - if @articles.count > 5
    .paging
      %p.paging-head
        %i.fa.fa-file-text-o
        Page
        - if @a == 0
          = @a = 1
        - else
          = @a
        of
        %span= @t+1
      = will_paginate @articles, renderer: BootstrapPagination::Rails
- else
  %p
    There are no posts containing the term(s) #{params[:search]}.
