%h2 Edit
= form_for @user, url: backend_user_path(@user) do |f|
  .field
    = f.label :name_user
    %br/
    = f.text_field :name_user, autofocus: true
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "Update"
