<div style="min-height:600px">
  <div style="text-align:center;font-size:25px">
    <h1 style="color:blue">Infomation of User:<span style="color:red"><%= @user.name_user %><span></h1>
  </div>
  <div style="font-size:15px;">
    <p>
      <strong>Name_user:</strong>
      <%= @user.name_user %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Sign_in_count:</strong>
      <%= @user.sign_in_count %>
    </p>
    <p>
      <strong>Current_sign_in_at:</strong>
      <%= @user.current_sign_in_at %>
    </p>
    <p>
      <strong>Last_sign_in_at:</strong>
      <%= @user.last_sign_in_at %>
    </p>
     <p>
      <strong>Current_sign_in_ip:</strong>
      <%= @user.current_sign_in_ip %>
    </p>
     <p>
      <strong>Last_sign_in_ip::</strong>
      <%= @user.last_sign_in_ip %>
    </p>
  </div>
</div>
