  <div class="row top-content-left">
          <p class="show-category col-sm-12"><strong><i class="fa fa-folder-open"></i> CATEGORY:</strong> <%= @category.name_category %></p>
  </div>
<p class = "introduce">Good news! Our friend site will continue updating latest books at <a href="https://www.google.com/search?q=1bookcase.com&ie=utf-8&oe=utf-8">https://1bookcase.com/</a>.</p>
<% @articles.each do |article| %>
<div class = "row article">
  <div class="col-sm-4 col-xs-3 left-article">
     <a href="<%= article_path(article) %>" data-toggle="tooltip" data-placement="bottom" title="<%= article.title %>"><%= image_tag article.avatar.url(:medium)%></a>
    <a class="comment" href="<%= article_path(article)%>#currentComment"><i class="fa fa-comments-o"></i> <%= article.comments.count %></a>
  </div>
  <div class="col-sm-8 col-xs-9 right-article">
    <div class="head-right-article">
      <ul class="list-inline">
        <% article.categories.each do |f| %>
        <li><%= link_to f.name_category  , category_path(f) %></li>
        <% end -%>
        <li>Viewer: <%= article.viewer%></li>
        <span><%= article.created_at.strftime("%v") %></span>
      </ul>
    </div>
    <div class="body-right-article">
      <h3><a href="<%= article_path(article) %>" data-toggle="tooltip" data-placement="bottom" title="<%= article.title %>"><%= article.title %></a></h3>
      <div class="content-body-right-article"><%= simple_format(article.description) %></div>
    </div>
  </div>
</div>
<% end -%>
<% if @articles.count > 5 %>
  <div class="paging">
     <p class = "paging-head"><i class="fa fa-file-text-o"></i> Page 
     <% if @a == 0 %>
      <%= @a = 1 %>
     <% else %>
      <%= @a %>
     <% end -%>
      of <span><%= @t %></span></p>
     <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
  </div>
<% end -%>

