<!--
<h1>Categories !!!</h1>
<table class = "table">
  <tr class = "title">
    <td>STT</td>
    <td>Name</td>
    <td>Article_number</td>
  </tr>
  <% @categories.each do|f| %>
  <tr>
    <td><%= f.id %></td>
    <td><%= link_to f.name_category,category_path(f) %></td>
    <td><%= f.articles.count %></td>
    <td><%= link_to "Update",edit_category_path(f) %></td>
    <td><%= link_to "Delete",category_path(f),method: :delete,data:{confirm: "Are you sure?"} %></td>
  </tr>
  <% end -%>
</table>
<%= link_to "New category",new_category_path %>
-->
<div style="height:400px;">
<%= datagrid_form_for @grid, :method => :get, :url => articles_path %>
<%= will_paginate @grid.assets, renderer: BootstrapPagination::Rails %>
<%= datagrid_table @grid %>
<%= will_paginate @grid.assets, renderer: BootstrapPagination::Rails %>  
</div> 

