
<!DOCTYPE html>
<html>
<head>
  <title>wowebook</title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="#body">
<div class="wraper">
  <%= render "partials/menu" %>  
  <%= render "partials/banner" %> 
  <div id="content">
    <div class="container-fluid">
      <div class="main-content">
        <div class="col-sm-7 col-xs-7">
          <div class="content-left">
           <%= yield %> 
          </div>
        </div>
        <%= render "partials/secondary_sidebar" %> 
        <%= render "partials/sidebar" %>
      </div>       
    </div>        
  </div> 
  <%= render "partials/footer" %>
</div>  
<script>
tinymce.init({ selector:'textarea' , menubar: false });
</script>
</body>
</html>
